https://medium.com/open-machine-learning-course/open-machine-learning-course-topic-9-time-series-analysis-in-python-a270cb05e0b3#id_token=eyJhbGciOiJSUzI1NiIsImtpZCI6ImEyOWFiYzE5YmUyN2ZiNDE1MWFhNDMxZTk0ZmEzNjgwYWU0NThkYTUiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJuYmYiOjE2NzMyNDA4MDIsImF1ZCI6IjIxNjI5NjAzNTgzNC1rMWs2cWUwNjBzMnRwMmEyamFtNGxqZGNtczAwc3R0Zy5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjEwNjk2Nzk5NjExNjk3NDA1NTQzNCIsImVtYWlsIjoid2Vzc3dhcmVzQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJhenAiOiIyMTYyOTYwMzU4MzQtazFrNnFlMDYwczJ0cDJhMmphbTRsamRjbXMwMHN0dGcuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJuYW1lIjoid2Vzc3dhcmUiLCJwaWN0dXJlIjoiaHR0cHM6Ly9saDMuZ29vZ2xldXNlcmNvbnRlbnQuY29tL2EvQUVkRlRwNjQyX25HY3RsUEJXTE51ODVQTUVpeHdaVGhBYjJGY1h4TkhfUnU9czk2LWMiLCJnaXZlbl9uYW1lIjoid2Vzc3dhcmUiLCJpYXQiOjE2NzMyNDExMDIsImV4cCI6MTY3MzI0NDcwMiwianRpIjoiYTU3YTQyYzA3MGUyZGYzNWE2YWU2YWQ5MGUxMjE2MjJlNTg3YmM2YSJ9.kUABVL0BBc8r4LxlUL4N39_z_5-rBeh88VqtupUbMOYhiQpRs50mNVjfj_kTq7dtrCyOxuqEYhOPHn-HSc1KIleAVBs-mMD6xKSUbYd5ryVx9st5fy3F9mg1s5yoK_bOS1sNQKI9u1BT_MHcsPbYwxKYeaYriT1KeMM2FitLaFrRX-CM7lNRR2o63MLuZVKtzrdE9o1gEamW5RqxUs5qkdP4hZ_6sbQJmltNK1ko_gb3HFn2nwwdB9X1CIeDmLpRdz41ubUpzDkmjjOCXF8VyKMIf93Oj2JgPmgFG-6hQuv6xg1Koe3L-mVEkgig3s2IpE9blrrneATmf5UEje048Q

In [11]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import statsmodels.formula.api as smf            
import statsmodels.tsa.api as smt
import statsmodels.api as sm

In [12]:
series = pd.read_csv('../datasets/data.csv', index_col=['date'], parse_dates=['date'])

In [13]:
series.head()

            work  income
date
2021-09-30     2    2100
2021-10-03     1    3600
2021-10-04     1    4000
2021-10-05     1    7900
2021-10-06     1    7500

In [14]:
white_noise = np.random.normal(size=1000)
with plt.style.context('bmh'):  
    plt.figure(figsize=(15, 5))
    plt.plot(white_noise)

In [15]:
def plotProcess(n_samples=1000, rho=0):
    x = w = np.random.normal(size=n_samples)
    for t in range(n_samples):
        x[t] = rho * x[t-1] + w[t]

        plt.style.context('bmh')  
        plt.figure(figsize=(10, 3))
        plt.plot(x)
        plt.title("Rho {}\n Dickey-Fuller p-value: {}".format(rho, round(sm.tsa.stattools.adfuller(x)[1], 3)))

In [16]:
for rho in [0, 0.6, 0.9, 1]:
    plotProcess(n_samples=1000, rho=rho)

C:\Users\Sheasier Shisia\AppData\Local\Temp\ipykernel_17112\134397774.py:7: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`). Consider using `matplotlib.pyplot.close()`.
  plt.figure(figsize=(10, 3))

In [ ]:
def tsplot(y, lags=None, figsize=(12, 7), style='bmh'):
    """
        Plot time series, its ACF and PACF, calculate Dickeyâ€“Fuller test
        
        y - timeseries
        lags - how many lags to include in ACF, PACF calculation
    """
    if not isinstance(y, pd.Series):
        y = pd.Series(y)
        
        plt.style.context(style)    
        fig = plt.figure(figsize=figsize)
        layout = (2, 2)
        ts_ax = plt.subplot2grid(layout, (0, 0), colspan=2)
        acf_ax = plt.subplot2grid(layout, (1, 0))
        pacf_ax = plt.subplot2grid(layout, (1, 1))
        
        y.plot(ax=ts_ax)
        p_value = sm.tsa.stattools.adfuller(y)[1]
        ts_ax.set_title('Time Series Analysis Plots\n Dickey-Fuller: p={0:.5f}'.format(p_value))
        smt.graphics.plot_acf(y, lags=lags, ax=acf_ax)
        smt.graphics.plot_pacf(y, lags=lags, ax=pacf_ax)
        plt.tight_layout()

In [ ]:
tsplot(series.income, lags=60)